<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义日志输出目标 -->
    <Appenders>
        <!-- 控制台Appender配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- PatternLayout定义了日志的输出格式 -->
            <!-- %d{HH:mm:ss.SSS} - 输出时间，格式为小时:分钟:秒.毫秒 -->
            <!-- [%t] - 输出线程名称 -->
            <!-- %-5level - 输出日志级别，宽度为5，不足的部分用空格填充 -->
            <!-- %logger{36} - 输出日志记录器的名称，最多显示36个字符 -->
            <!-- %msg - 输出日志消息 -->
            <!-- %n - 输出换行符 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <!-- 定义日志记录器 -->
    <Loggers>
        <!-- 根记录器配置 -->
        <!-- level="info" - 设置根记录器的日志级别为INFO，这意味着INFO级别及以上的日志消息会被记录 -->
        <!-- 关联Console Appender - 将日志消息输出到控制台 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- 自定义Logger配置 -->
        <!-- name="com.example" - 指定日志记录器的名称为"com.example"，这意味着只记录属于此包的日志消息 -->
        <!-- level="debug" - 设置自定义记录器的日志级别为DEBUG，这意味着DEBUG级别及以上的日志消息会被记录 -->
        <!-- additivity="false" - 禁用日志的继承，这意味着只有指定的Logger处理日志，不会将日志消息传递到父Logger -->
        <!-- 关联Console Appender - 将日志消息输出到控制台 -->
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
